body{
    background-color: #fff;
}

.cabecalho {
    min-width: 100vw;
    height: 11vh;
    background-color: #fff;
    display: flex;
    align-items: center;
}

#logo {
    width: 150px;
    height: auto;
    margin-left: 1vw;
}

h1{
    font-size: 3rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box-cadastro{
    min-width: 500px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to top, #69baf0, rgb(182, 234, 255), #fff) ;
    border: black 2px solid;
    text-align: center; 
}

form input[type="text"], form input[type="password"] {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;
}

form label{
    font-size: 2rem;
}

form input[type="submit"]{
    background-color: #3393EC;
    color: white;
    font-size: large;
    width: 230px;
    padding: 10px;
    text-align: center;
    margin-top: 15px;
    border: solid black 1px;
    cursor: pointer;
}

.img-user{
    width: 35px;
    height: 35px;
    display: flex;
    position: absolute;
    top: 107px;
    left: 85px;
}

.img-password{
    width: 35px;
    height: 35px;
    display: flex;
    position: absolute;
    top: 178px;
    left: 85px;
       
}

#texto-cadastro{
    margin-top: 15px;
    font-size: 1.5rem;
}

/* MEDIA QUERIES */


@media screen and (max-width:1625px) {
  
    li {
      min-width: 13vw;
    }
  
    li a {
      min-width: 13vw;
    }
  
    ul {
      gap: 12vw;
    }
  }
  
  
  @media screen and (max-width:1100px) {
  
    li {
      min-width: 14vw;
    }
  
    li a {
      min-width: 14vw;
    }
  
    ul {
      gap: 8vw;
    }
  }
  
  
  @media screen and (max-width:922px) {
    html {
      font-size: 50%;
    }
  
    li {
      min-width: 10vw;
    }
  
    li a {
      min-width: 10vw;
    }
  
    ul {
      gap: 10vw;
    }
  
    #logo, #div-img-usuario {
      width: 100px;
    }
  
    #img-usuario {
      width: 50px;
    }
  }
  
  
  @media screen and (max-width:670px) {
    html {
      font-size: 40%;
    }
  
    .cabecalho {
      height: 8vh;
    }
    
    li {
      min-width: 8vw;
      height: 35px;
      font-size: 2rem;
    }
  
    li a {
      min-width: 8vw;
    }
  
    ul {
      gap: 6vw;
    }
  
    #logo {
      width: 70px;
      margin-left: 2vw;
    }
    
    #div-img-usuario {
      width: 70px;
    }
  
    #img-usuario {
      width: 45px;
      padding-right: 2vw;
    }
  
    h1 {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  
    #paragrafo1 {
      font-size: 3.6rem; 
    }
  }