.cabecalho {
    width: 100vw;
    height: 11vh;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.container {
    height: 89vh;
    background-color: rgb(71, 181, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:861px) {
    .cabecalho {
        width: 100%;
      }
}
