.cabecalho {
  width: 100vw;
  height: 130px;
  background-color: #fff;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 0 2vw;
}

.divLogo {
  height: 100%;
  display: flex;
  align-items: center;

  h1 {
    color: #669cf6;
    font-size: 3rem; 
    margin-left: 1vw;

    b {
      color: #aa9999;
    }
  }
}

nav {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  gap: 3vw;
}

li a {
  text-decoration: none;
  font-size: 2rem; 
  font-weight: bold;
  color: #3376ea;
  transition: color 0.2s ease-in-out;
}

li a:hover {
  color: #669cf6;
}

#imgUsuario {
  width: 50px;
  height: auto;
}

#divImgUsuario {
  display: flex;
  justify-content: center;
  align-items: center; 
}



@media (max-width: 768px) {
  .cabecalho {
    flex-direction: row;
    height: auto;
    padding: 10px;
  }

  .divLogo {
    justify-content: center;
  }

  .navEuser {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  ul {
    flex-direction: column; 
  }

  li a {
    font-size: 1.75rem;
  }

  #imgUsuario {
    width: 40px;
  }
}

@media (max-width: 480px) {
  .divLogo h1 {
    font-size: 2.5rem;
  }

  li a {
    font-size: 1.5rem; 
  }

  #imgUsuario {
    width: 35px;
  }
}