.cabecalho {
    min-width: 100vw;
    height: 11vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav {
    align-self: end;
  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 18vw;
  }
  
  li {
    display: flex;
  
    font-size: 2.6rem;
    font-weight: 500;
  
    min-width: 10vw;
    height: 50px;
  
    align-items: center;
    justify-content: center;
  
    background-color: #bde7ff;
    transition: background-color .3s ease-in-out;
    &:hover {
      background-color: #88cdff;
    }
  }
  
  li a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 10vw;
    height: 50px;
    white-space: nowrap;
    color: #000;
  
    &:visited {
      color: #000;
    }
  }
  
  #logo {
    width: 150px;
    height: auto;
    margin-left: 1vw;
  }
  
  #img-usuario {
    width: 65px;
    height: auto;
  }
  
  #div-img-usuario {
    width: 150px;
    height: auto;
    display: flex;
    justify-content: end;
    padding-right: 1vw;
  }