.entrada {
    align-self: end;
    min-width: 25%;
    max-width: 80%;
    background-color: #ddd;
    display: flex;
    justify-content: end;
    padding: 15px;
    border-radius: 10px 10px 0px 10px;
}

.resposta {
    align-self: start;
    min-width: 25%;
    max-width: 80%;
    background-color: #add7e8;
    display: flex;
    justify-content: start;
    padding: 15px;
    border-radius: 10px 10px 10px 0px;
}

.texto {
    font-size: 30px;
}